In [2]:
import pandas as pd

In [6]:
data = pd.read_csv("AMZN Historical Data.csv")

In [11]:
data.loc[:,['Date','Price']]

            Date     Price
0   Mar 09, 2020  1,800.61
1   Feb 28, 2020  1,883.75
2   Mar 06, 2020  1,901.09
3   Mar 02, 2020  1,953.95
4   Feb 27, 2020  1,884.30
5   Mar 03, 2020  1,908.99
6   Mar 05, 2020  1,924.03
7   Mar 04, 2020  1,975.83
8   Feb 25, 2020  1,972.74
9   Feb 26, 2020  1,979.59
10  Feb 24, 2020  2,009.29
11  Feb 10, 2020  2,133.91
12  Feb 21, 2020  2,095.97
13  Feb 18, 2020  2,155.67
14  Feb 14, 2020  2,134.87
15  Feb 20, 2020  2,153.10
16  Feb 11, 2020  2,150.80
17  Feb 13, 2020  2,149.87
18  Feb 12, 2020  2,160.00
19  Feb 19, 2020  2,170.22

In [14]:
data.iloc[:,:2]

            Date     Price
0   Mar 09, 2020  1,800.61
1   Feb 28, 2020  1,883.75
2   Mar 06, 2020  1,901.09
3   Mar 02, 2020  1,953.95
4   Feb 27, 2020  1,884.30
5   Mar 03, 2020  1,908.99
6   Mar 05, 2020  1,924.03
7   Mar 04, 2020  1,975.83
8   Feb 25, 2020  1,972.74
9   Feb 26, 2020  1,979.59
10  Feb 24, 2020  2,009.29
11  Feb 10, 2020  2,133.91
12  Feb 21, 2020  2,095.97
13  Feb 18, 2020  2,155.67
14  Feb 14, 2020  2,134.87
15  Feb 20, 2020  2,153.10
16  Feb 11, 2020  2,150.80
17  Feb 13, 2020  2,149.87
18  Feb 12, 2020  2,160.00
19  Feb 19, 2020  2,170.22